body {
    background: #527578;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #ADA692;
}

p {
    color: #ADA692;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
}

/*
########################
    =header
########################
*/

#wrap {
    width: 960px;
    height: 940px;
    margin: auto;
    background: #47423F;
}

#header {
    /*background: red;*/
}

    #header ul {
        text-align: center;
        padding-left: 0;
        margin: 0 0;
    }

        #header ul li {
            display: inline;
            /*margin-right: 3px;*/
        }

        #header ul li:after {
            content: " /";
            /*margin-right: 3px;*/
        }

        #header ul li:last-child:after {
            content: none;
        }

    #header p {
        text-align: center;
        margin-top: 0;
    }

#nav {
    float: right;
}

/*#nav a {
    background: red;
    margin: 5;
}

#nav li {
    margin: 5;
    padding: 5;
}*/

.selected {
    background: #e4e4e4;
    padding: 5px;
}

/*
########################
    =main
########################
*/
#main {
    overflow: hidden;
    height: 750px;
}

/*
########################
    =footer
########################
*/

#footer {
    /*background: white;*/
}